
<h1>User Information</h1>

Name: <%= @user.name %> <br>
Email: <%= @user.email %> <br>
Household: <%= @user.household.name %> <br>
Roomate Rating: <%= @user.roommate_rating %> <br>
Points: <%= @user.points %> <br>


