<div class="display_info">
	<label>Roomate Rating:</label> <%= @user.rating %> <br>
	<label>Points:</label> <%= @user.points_earned %> <br>

	<br>
	<h4>Your Upcoming Chores</h4><br>
	<table>
		<tr>
			<th>Description</th>
			<th>Due Date</th>
			<th>Point Value</th>
			<th>Household</th>
		</tr>

		<% @user.completions.each do |completion| %>
			<% if completion.completed == false %>
				<tr>
					<td><%= completion.chore.description %></td>
					<td><%= completion.due_date %></td>
					<td><%= completion.chore.point_value %></td>
					<td><%= link_to completion.chore.household.name, household_path(completion.chore.household) %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>


