<div class="display_info">
	<h5>Hello, <%= @user.name %> </h5>
	<br>
	<label>Effort Rating:</label> <%= @user.rating %> <br>
	<label>Points Earned:</label> <%= @user.points_earned %> <br>

	<br>
	<h4>Your Upcoming Chores</h4><br>

	<% if @user.completions.pending.size > 0 %>
		<table>
			<tr>
				<th>Description</th>
				<th>Due Date</th>
				<th>Point Value</th>
				<th>Household</th>
			</tr>

			<% @user.completions.each do |completion| %>
				<% if completion.completed == false %>
					<tr>
						<td><%= completion.chore.description %></td>
						<td><%= completion.due_date %></td>
						<td><%= completion.chore.point_value %></td>
						<td><%= link_to completion.chore.household.name, household_path(completion.chore.household) %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% else %>
		<p>You Have No Chores to Complete!</p>
	<% end %>

</div>

<footer class="bg-dark">
	<%= link_to "Create New Household", new_user_household_path(current_user) %>
</footer>


