<h1>User Information</h1>

Name: <%= @user.name %> <br>
Email: <%= @user.email %> <br>
Household: <%= @user.household.name %> <br>
Roomate Rating: <%= @user.roommate_rating %> <br>
Points: <%= @user.points %> <br>

<br>
<h4>Your Upcoming Chores</h4><br>
<table style="width:50%">
	<tr>
		<th>Description</th>
		<th>Due Date</th>
		<th>Point Value</th>
		<th>Household</th>
	</tr>

	<% @user.chores.each do |chore| %>
		<tr>
			<td><%= chore.description %></td>
			<td><%= chore.due_date %></td>
			<td><%= chore.point_value %></td>
			<td><%= chore.household.name %></td>
		</tr>
	<% end %>
</table>


