<div class="display_info">
	<h4> Your Chores </h4>

	<% if @completions.size > 0 %>
		<table>
			<tr>
				<th>Description</th>
				<th>Complete By</th>
				<th>Status</th>
				<th>Action</th>
			</tr>

			<% @completions.each do |completion| %>
				<tr>
					<td><%= completion.chore.description %></td>
					<td><%= completion.due_date %></td>
					<td><%= completion.status %></td>
					<td>
						<%= form_tag complete_path do %>
					  		<%= hidden_field_tag "completion_id", completion.id %>
					  		<%= button_tag "Complete" %>
						<% end %>
						<%= form_tag completion_path(completion.id), method: :delete do %>
					  		<%= hidden_field_tag "completion_id", completion.id %>
					  		<%= button_tag "Unassign" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>You Have No Chores to Complete!</p>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "View Past Due", pastdue_path %> 
</footer>



