
<%= form_for(@chore) do |f| %>

	<label>Description</label><br>
	<%= f.text_field :description %><br>
	<label>Due Date</label><br>
	<%= f.text_field :due_date %><br>
	<label>Point Value</label><br>
	<%= f.text_field :point_value %><br>

	<%= f.hidden_field :household_name, :value => current_user.household.name %>

	<label>User</label><br>
	<%= f.text_field :user_name, list: "user_autocomplete" %>
	<datalist id="user_autocomplete">
		<% current_user.household.users.all.each do |user| %>
			<option value="<%= user.name %>">
	    <% end %>
	</datalist><br>


	<%= f.submit "Submit Chore" %>
<% end %>