
<%= form_for(@chore) do |f| %>

	<label>Description</label><br>
	<%= f.text_field :description %><br>
	<label>Due Date</label><br>
	<%= f.text_field :due_date %><br>
	<label>Point Value</label><br>
	<%= f.text_field :point_value %><br>

	Household: <%= f.text_field :household_name, list: "household_autocomplete" %>
	<datalist id="household_autocomplete">
		<% Household.all.each do |household| %>
			<option value="<%= household.name %>">
	    <% end %>
	</datalist><br>

	User: <%= f.text_field :user_name, list: "user_autocomplete" %>
	<datalist id="user_autocomplete">
		<% User.all.each do |user| %>
			<option value="<%= user.name %>">
	    <% end %>
	</datalist><br>


	<%= f.submit "Submit Chore" %>
<% end %>