<div class="display_info">
	<h4>About this Chore</h4>

	<label>Description:</label> <%= @chore.description %> <br>
	<label>Point Value:</label> <%= @chore.point_value %> <br>
	<label>Household:</label> <%= @chore.household.name %> <br>

	<br>
	<%= form_tag new_completion_path, {:method => :get} do %>
	  	<%= hidden_field_tag "chore_id", @chore.id %>
	  	<%= button_tag "Assign Chore" %>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "Edit Chore", edit_chore_path(@chore) %> | <%= link_to "Delete Chore", chore_path(@chore), method: :delete %>
</footer>