<h4>About this Household</h4>

Name: <%= @household.name %> <br>

<br>
Dwellers:
<ul>
	<% @household.users.each do |user| %>
		<li> <%= user.name %> </li>
	<% end %>
</ul>

<br>
Chores: 
<ul>
	<% @household.chores.each do |chore| %>
		<li> <%= chore.description %> </li>
	<% end %>
</ul>

<%= link_to "Edit Household", edit_household_path(@household) %>
<%= link_to "Delete Household", household_path(@household), method: :delete %>


<% if !current_user.households.include?(@household) %>
	<%= form_tag join_path do %>
  		<%= hidden_field_tag "household_id", @household.id %>
  		<%= button_tag "Join Household" %>
	<% end %>
<%end%>