<div class="display_info">
	<h4>About this Household</h4>

	Name: <%= @household.name %> <br>
	Address: <%= @household.address %> <br>

	<br>
	Dwellers:
	<ul>
		<% @household.users.each do |user| %>
			<li> <%= link_to user.name, user_path(user) %> </li>
		<% end %>
	</ul>

	<br>
	Chores: 
	<ul>
		<% @household.chores.each do |chore| %>
			<li> <%= link_to chore.description, chore_path(chore) %> </li>
		<% end %>
	</ul>
	
	<br>
	<% if !current_user.households.include?(@household) %>
		<%= form_tag join_path do %>
	  		<%= hidden_field_tag "household_id", @household.id %>
	  		<%= button_tag "Join Household" %>
		<% end %>
	<%end%>
</div>

<footer class="bg-dark">
	<%= link_to "Edit Household", edit_household_path(@household) %> | <%= link_to "Delete Household", household_path(@household), method: :delete %>
</footer>